# Ainete chatbot #

## Impordid ##

Optimiseerijad: FAISS, KD trees, Principal component analysis
Veel uurida: https://github.com/NivedhaBalakrishnan/Vector_Store_from_Scratch/blob/main/vector_store.py

Optimiseerimine: KD tree
Salvestamine faili ja failist kÃ¤ttesaamine: pickle (tegelt vist mitte, aga hoian alles)

In [2]:
import sqlite3 as sql
import numpy as np

In [3]:
con = sql.connect("primitiivne_db.db")

In [4]:
cursor = con.cursor()

In [8]:
cursor.execute("CREATE TABLE AINED (ID NUMBER PRIMARY KEY, VECTOR BLOB)")

OperationalError: table AINED already exists

In [17]:
vector = np.array([1, 23, 3, 4, 5, 6])
cursor.execute(f"INSERT INTO AINED(ID, VECTOR) VALUES (2, '{vector}')")

In [22]:
cursor.execute("SELECT VECTOR FROM AINED")
print(cursor.fetchone())
print(cursor.fetchone())

('[1 2 3]',)
('[ 1 23  3  4  5  6]',)

In [19]:
con.commit()